@font-face {
    font-family: 'RoadNumbers';
    src: url(/fonts/RoadNumbers.ttf);
}

html,
body {
    height: 100%;
}

.form-reg,
.form-log {
    width: 45%;
}

@media(max-width:767px){
    .form-reg,
    .form-log {
        width: 90%;
    }

    .image {
        height: 20px;
        width: 50px;
    }

    .gosnum {
        width: 90%;
        height: auto;
    }
}

.content,
.form-reg,
.form-log {
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.hiden {
    display: none;
}

.spinner {
    height: 20px;
    width: 20px;
}

.spinner-bg {
    height: 70px;
    width: 70px;
}

.image {
    height: 100px;
    width: 130px;
}

.auto-mark {
    font-size: 26px;
}

.vin,
.gos {
    font-size: 20px;
}

.img-back {
    position: absolute;
    z-index: 1;
}

.gosnum {
    height: 120px;
}

#vin-num,
#gos-num {
    font-family: 'RoadNumbers';
    z-index: 2;
    position: relative;
    height: 120px;
    width: 400px;
    color: black;
    background: transparent;
    border: none;
    outline:none;
}

#vin-num {
    left: 75px;
    font-size: 65px;
    letter-spacing: -5px;
}

#gos-num {
    left: 90px;
    font-size: 100px;
}

#gos-num:active, #gos-num:hover, #gos-num:focus,
#vin-num:active, #vin-num:hover, #vin-num:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}